# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
# *.so

# Virtual environment
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype
.pytype/

# pyright
typings/

# profiling
*.prof
*.lprof
*.pstats
cachegrind.out.*

# VS Code
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Backup files
*~
*.bak
*.swp

# Local data
local_settings.py
.envrc
.env.*

# Logs
*.log

# Ignore custom outputs
inputs/
outputs/
__temp__/


# SQLite database
*.sqlite
*.db

# API keys or credentials
secrets.json
config.json
